body {
	background-color: dimgray;
}

#doodle {
	position: relative;
	width: 1200px;
	height: 800px;
	overflow: hidden;
	background-color: white;
	margin: 10px;
}

#menu {
	float: left;
	margin: 10px;
}

.inactiveLayer {
	pointer-events: none;
}

.drawingLayer {
	position: absolute;
  left:0px;
  top:0px;
}

.layerSelected {
	background-color: springgreen;
}
